fastapi
uvicorn
python-multipart
sqlalchemy
psycopg2-binary
passlib[bcrypt]
python-jose[cryptography]
python-dotenv
torch
torchvision
nnunet
git+https://github.com/MIC-DKFZ/MedNeXt.git
nibabel
numpy
scikit-image
scipy
matplotlib
plotly
blosc2