fastapi
uvicorn
python-multipart
sqlalchemy
psycopg2-binary
passlib[bcrypt]
bcrypt==3.2.2
python-jose[cryptography]
python-dotenv
torch==2.5.1
torchvision==0.20.1
nnunet
git+https://github.com/MIC-DKFZ/MedNeXt.git
nibabel
numpy
scikit-image
scipy
matplotlib
plotly
blosc2